[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
